.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.generalWrapper {
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.timestamp {
  margin-top: 3rem;
}